body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    color: var(--fontcolor);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background: var(--theamcolorlite);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: var(--fontcolor);
}

.header h1 {
    font-size: 24px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    font-weight: bold;
    color: var(--fontcolor);
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: var(--theamcolorlite);
    color: var(--fontcolor);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
    color: var(--fontcolor);
}

th {
    background-color: var(--theamcolor);
}
#itemTable>tr :nth-child(6) input, #itemTable>tr :nth-child(7) input, #itemTable>tr :nth-child(8) input, #itemTable>tr :nth-child(9) input{
    width: 60px;
    /* background-color: red; */
}
#itemTable>tr :nth-child(4) input{
    width: 100px;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer button {
    padding: 10px 20px;
    background-color: var(--theamcolor);
    color: var(--fontcolor);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer button:hover {
    background-color: rgb(44, 58, 77);
}